/* Normalize
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  margin: 0;
  padding: 0
}
/* Nav bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.easy_nav-container {
  font-size: 1.2em;
  display: flex;
  position: absolute;
  width: 100%;
  box-sizing : border-box;
  padding: 75px 50px 50px;
  font-family: sans-serif;
  color: white;
}

.easy_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.easy_nav-link {
  padding-right: 8px;
}

.easy_nav {
  display: flex;
}

.easy_nav-right {
  margin-left:auto;
}

.easy_nav-toggle {
  display: none;
}

@media only screen and (min-width: 768px) {
  .easy_nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .easy_logo {
    padding-left: 5vw;
  }
}

@media only screen and (max-width: 768px) {
  .easy_nav,
  .easy_nav-container {
    flex-direction: column;
  }

  .easy_nav {
    display:none;
  }

  .easy_nav-right {
    margin-left:0;
  }

  .easy_nav-toggle-show {
    display: flex;
  }

  .easy_nav-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}

@media only screen and (max-width: 768px) {
  .section1 {
    padding: 200px 0 100px !important;
  }
}

.section1 {
  z-index: 1;
  background-color: rgba(1,41,57,.6);
  padding: 350px 0;
  color: white;
}

.section1 video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

.section2 {
  background-color: orange;
}

.section3 {
  background-color: grey;
}