/* Normalize
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  margin: 0;
  padding: 0
}

/* Nav bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.easy_nav-container {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing : border-box;
  padding: 75px 50px 50px;
  font-family: sans-serif;
  color: #fff;
  z-index: 1;
  transition: 0.2s;
}

.easy_nav-container a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
}

.easy_nav-container a:hover {
  color: #FF7300;
}

.easy_nav-scroll {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(51,51,51,.2);
}

.easy_nav-scroll a {
  color: #000;
}

.easy_logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.easy_logo {
  max-width: 10em;
  transition: .2s;
}

.easy_logo-scroll {
  max-width: 5em;
}

.easy_nav {
  display: flex;
}

.easy_nav-right {
  margin-left: auto;
}

.easy_nav-toggle {
  display: none;
  color: #fff;
}

.easy_nav-link {
  display: flex;
  text-align: center;
}

.easy_nav-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .easy_nav-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .easy_logo-container {
    padding-left: 5vw;
  }

  .easy_logo {
    width: 10vw;
  }

  .easy_nav-dropdown-outer {
    display: none;
    position: absolute;
  }

  .easy_nav-dropdown-outer .easy_nav-link a {
    color: #000;
  }

  .easy_nav-dropdown-outer .easy_nav-link a:hover {
    color: #FF7300;
  }

  .easy_nav-dropdown-button:hover .easy_nav-dropdown-outer {
    display: block;
    padding-top: 27px;
    right: -100px;
  }

  .easy_nav-dropdown-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: inset 0 0 5px 0 rgba(51,51,51,.2);
  }
}

@media only screen and (max-width: 768px) {
  .easy_nav, .easy_nav-container {
    flex-direction: column;
    align-items: center;
  }

  .easy_nav-scroll {
    padding: 0;
  }

  .easy_nav-scroll .easy_nav-toggle {
    color: #000;
  }

  .easy_nav-mobile {
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
  }

  .easy_nav {
    display: none;
    overflow: auto;
  }

  .easy_nav:first-of-type {
    margin-top: 5em;
  }

  .easy_logo {
    max-width: 5em;
  }

  .easy_logo-scroll {
    max-width: 3em;
    margin-top: 5px;
  }

  .easy_nav-link {
    padding: 0.5em;
    font-size: 6vw;
  }

  .easy_nav-right {
    margin-left:0;
  }

  .easy_nav-toggle-show {
    display: flex;
    color: #000;
  }

  .easy_nav-toggle-show .easy_nav-link * {
    color: #000;
  }

  .easy_nav-toggle {
    display: initial;
    position: absolute;
    top: 75px;
    right: 30px;
    cursor: pointer;
  }

  .easy_nav-scroll .easy_nav-toggle {
    top: 0;
    right: 10px;
  }

  .easy_nav-dropdown-button {
    padding: 0;
  }

  .easy_nav-dropdown-button-text {
    display: none;
  }
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 300px 0;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
  color: #fff;
  text-align: center;
  background-size: cover !important;
}

.section .title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2em;
}

.section_text-highlight {
  display: inline;
  background: #ff7300;
  color: #fff;
  box-shadow: 10px 0 0 #ff7300, -10px 0 0 #ff7300;
  padding: 0.5em;
  line-height: 1.75em;
  font-size: 25px;
}

.features {
  background-color: #fff;
  padding: 100px 0;
  color: #000;
}

.features h4 {
  padding: 0 50px;
}

.features .fas {
  font-size: 2em;
  color: #ff7300;
}

.join {
  background: url('../images/join.jpg') center no-repeat;
  color: #000;
}

.telegram {
  padding: 0 !important;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  display: table;
  width: 100%
}

.telegram > div {
  display: table-cell;
  padding: 4em;
}

.icmarkets {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  background-blend-mode: multiply,multiply;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 100px 10px;
  }

  .telegram > div {
    display: block;
  }
}

/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  background-color: #ff7300 !important;
  border-color: #ff7300 !important;
  margin-top: 2em;
}

.button:hover {
  background-color: #b55200 !important;
  border-color: #b55200 !important;
}

/* Font Awesome
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fas, .fab {
  color: #FF7300;
  margin: 0.25em 0;
}
.large {
  font-size: 10em;
}

.medium {
  font-size: 5em;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  padding-top: 100px;
  background-color: #ff7400;
  color: #fff;
}

footer ul {
  list-style-type: none;
}

footer a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
}

footer a:hover {
  color: #fff;
}

footer .social {
  display: inline;
  font-size: 1.25em;
  padding: 5px;
}

footer .fab {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  footer, footer a {
    text-align: center;
  }

  .mobile-margin {
    margin-top: 1.25em;
  }
}

.copyright {
  text-align: center;
  padding: 20px;
  color: rgba(255,255,255,0.8);
}