  <div class="features section">
    <h4 data-aos="fade-down">Receive up to 20 daily signals 3 times a day with a total pip value of 200 ticks (on average).</h4><br><br>
    <div class="container">
      <div class="row">
        <div class="one-half column" data-aos="fade-right">
          <i class="fas fa-truck"></i>
          <h5><b>Real-time delivery</b></h5>
          <p>Our signals are delivered to any mobile device in real time using the encrypted Telegram app.</p>
        </div>
        <div class="one-half column" data-aos="fade-left">
          <i class="fas fa-users"></i>
          <h5><b>Expert analysis</b></h5>
          <p>Our high probability signals are formulated using proven analysis techniques and strategies which combine advanced technical analysis, news analytics as well as market sentiment information</p>
        </div>
      </div><br>
      <div class="row">
        <div class="one-half column" data-aos="fade-right">
          <i class="fas fa-signal"></i>
          <h5><b>Low-cost signals</b></h5>
          <p>Daily Forex signals delivered from just £10.00 per week* (dependent on the package chosen).</p>
        </div>
        <div class="one-half column" data-aos="fade-left">
          <i class="fas fa-robot"></i>
          <h5><b>Copy Trading (New for 2019)</b></h5>
          <p>Our Robotized Forex Trading system reproduces our High Probability trading signals to your own personalised forex account in real time eliminating the need to copy and paste signals manually.</p>
          <div class="new">NEW</div><small>To be launched in February 2019.</small>
        </div>
      </div>
    </div>
  </div>