  <footer>
    <div class="container">
      <div class="row">
        <div class="one-third column">
          <center>
            <!-- Twitter feed -->
            <a class="twitter-timeline" data-lang="en" data-width="20em" data-height="400" data-dnt="true" data-theme="light" data-link-color="#ff7300" href="https://twitter.com/EasyFX1?ref_src=twsrc%5Etfw">Tweets by EasyFX1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </center>
        </div>
        <div class="one-third column mobile-margin">
          <p style="text-align: center">{{ site.footer_text }}</p>
          <a style="text-align: center; text-decoration: underline;" href="{{ site.url }}/disclaimer">Full Legal Disclaimer</a>
        </div>
        <div class="one-third column mobile-margin">
          <h5>Contact us</h5>
          <ul>
            <li>Do you have questions about EasyFX? Our team is here to help.</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><a class="social" target="_blank" href="https://www.instagram.com/{{ site.social_handle }}/"><i class="fab fa-instagram"></i></a> <a class="social" target="_blank" href="https://twitter.com/{{ site.social_handle }}"><i class="fab fa-twitter"></i></a> <a class="social" target="_blank" href="https://t.me/{{ site.telegram }}"><i class="fab fa-telegram"></i></a> <a class="social" target="_blank" href="https://www.facebook.com/{{ site.social_handle }}/"><i class="fab fa-facebook-square"></i></a> <a class="social" target="_blank" href="http://linkedin.com/in/easyfx-trade-signals-597a1a177"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row copyright">
        <small>Copyright © {{ 'now' | date: "%Y" }} EasyFX Limited</small>
      </div>
    </div>
  </footer>