  <div id="easy_nav-container" class="easy_nav-container">
    <div class="easy_nav-link easy_logo-container">
      <a href="{{ site.url }}"><img id="easy_logo" class="easy_logo" src="{{ site.url }}/assets/images/logo.png"></a>
    </div>
    <div class="easy_nav-link easy_nav-toggle">
      &#9776;
    </div>
    <nav class="easy_nav easy_nav-center">
      <div class="easy_nav-link">
        <a href="{{ site.url }}">Home</a>
      </div>
      <div class="easy_nav-link">
        <a href="{{ site.url }}/about.html">About</a>
      </div>
      <div class="easy_nav-link">
        <a href="{{ site.url }}/packages.html">Packages</a>
      </div>
      <div class="easy_nav-link">
        <a href="{{ site.url }}/forex.html">What is Forex</a>
      </div>
      <div class="easy_nav-link">
        <a href="{{ site.url }}/brokers.html">Brokers</a>
      </div>
      <div class="easy_nav-link easy_nav-dropdown-button">
        <a class="easy_nav-dropdown-button-text">Tools</a>
        <div class="easy_nav-dropdown-outer">
          <div class="easy_nav-dropdown-container">
            <div class="easy_nav-link" style="padding-bottom: 0.5em">
              <a href="https://finviz.com/forex.ashx" target="_blank">Currency Strength Meter</a>
            </div>
            <div class="easy_nav-link">
              <a href="https://www.forexfactory.com/calendar.php" target="_blank">Forex Calendar</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>