  <div class="telegram section">
    <div class="">
      <h2 data-aos="fade-down">Join our <b>FREE</b> telegram group</h2>
      <h4 data-aos="fade-down">And start the journey to financial freedom….</h4>
      <a href="https://t.me/{{ site.telegram }}" target=”_blank” class="button button-primary" data-aos="fade-left">Join</a>
    </div>
    <div class="icmarkets">
      <h2 data-aos="fade-down">Start Trading Live or Try a Free Demo</h2>
      <h4 data-aos="fade-down">with our Recommended ECN Broker, IC-Markets</h4>
      <a href="http://icmarkets.com/en/?camp=29457" target=”_blank” class="button button-primary" data-aos="fade-left">Click here</a>
    </div>
  </div>